:root{
	--mielMedias-color:#FF9900;
	--mielMedias-color-lighter:#FFBB00 ;
	--mielMedias-height:90%;
	--mielMedias-width:90%;
	--mielMedias-top:5%;
	--mielMedias-left:5%;
}
[contentEditable=true]:empty:not(:focus):before{
	content:attr(data-text);
	opacity : 0.7;
}
.medias-window .dark-bg{
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-color: rgba(0,0,0,0);
}
.panel-window .main-panel > div{
	overflow:auto;
}
.panel-window .body{
	overflow:auto;
	background-color: transparent;
	display:flex;
	flex-direction: column;
}
.panel-window .body .panel{
	display:flex;
	flex-direction: column;
	flex:1;
	overflow:auto;
}
.panel-window .body .panel + *{
	flex-shrink: 0;
}
.panel-window .body .panel > div:first-child{
	flex-shrink: 0;
}
.panel-window .body .panel > div:last-child{
	flex:1;
	overflow:auto;
	margin-top:20px;
}
.panel-window .body .buttons{
	display:inline-flex;
	position:relative;
}
.panel-window .buttons .button{
	font-size:200%;
	font-weight: 400;
	cursor:pointer;
	padding:5px;
	width:50px;
	box-shadow:0 2px 5px rgba(0,0,0,0.4);
	text-align:center;
	display:block;
	background-color: rgb(55,55,55);
}
.panel-window .buttons .button svg{
	display:block;
	width:90%;
	margin:auto;
}
.panel-window .buttons .button svg path,
.panel-window .buttons .button svg circle,
.panel-window .buttons .button svg polygon{
	transition: all 0.35s;
}
.panel-window .buttons .button:hover svg path,
.panel-window .buttons .button:hover svg circle,
.panel-window .buttons .button:hover svg polygon{
	fill:white;
}
.panel-window .buttons .button:last-child{
	position:relative;
}
.panel-window .buttons .button .title{
	position:absolute;
	left:125%;
	top:50%;
	color:var(--mielMedias-color);
	font-size:16px;
	font-weight: 400;
	opacity:0;
	white-space: nowrap;
	transform: translateY(-50%);
	transition: all 0.35s;
	padding-left:10px;
	visibility: hidden;
}
.panel-window .buttons .button:hover .title{
	visibility: visible;
	opacity: 1;
	left:100%;
}
.panel-window .media-remove{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(55,55,55);
	box-shadow : 5px 5px 20px rgba(0,0,0,0.4);
	border-radius:10px;
	padding:20px;
}
.panel-window .media-remove > p{
	margin:0;
	text-align:center;
}
.panel-window .media-remove > .buttons{
	display:flex!important;
	justify-content: space-around;
	margin-top:20px;
}
.panel-window .media-remove > .buttons > button{
	box-shadow : 5px 5px 10px rgba(0,0,0,0.4);
}

.panel-window .media-loader{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
}
.panel-window .media-loader .container{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.medias-window{
	position:fixed;
	height:var(--mielMedias-height);
	width:var(--mielMedias-width);
	left:var(--mielMedias-left);
	top:var(--mielMedias-top);
	box-shadow:10px 10px 20px rgba(0,0,0,0.6);
	background-color: rgb(35,35,35);
	animation-name: media-window_fade-in;
	animation-duration: 0.35s;
	z-index:99999999;
	color:white;
}
.panel-window .head{
	display:flex;
	justify-content: space-between;
	font-size:125%;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.panel-window .head .title{
	text-align:center;
	padding:10px;
	flex:1;
	margin:auto;
	color:white;
}
.panel-window .head .title > *{
	font-weight: 300;
}
.panel-window .head .buttons{
	display:flex;
	justify-content: flex-end;
}
.panel-window .head .buttons .close{
	cursor:pointer;
	margin:auto;
	padding-right:15px;
}
.panel-window .head .buttons .close:hover{
	color:var(--mielMedias-color);
}
.panel-window .head .buttons .close > span{
	display:block;
	transform-origin: center center;
	transform: rotate(45deg);
	font-size:200%;
}
.panel-window {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.panel-window > .body{
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	padding : 20px;
	max-width: 100%;
	box-sizing: border-box;
}
.panel-window .body > .buttons:last-child{
	display:flex;
	justify-content: center;
	flex-shrink: 0;
	margin:20px 0;
}
.panel-window button{
	padding: 10px 30px;
	background-color: var(--mielMedias-color);
	border-radius: 100px;
	border:none;
	font-size:inherit;
	font-family: inherit;
	cursor:pointer;
	transition: all 0.35s;
	flex:1;
	max-width:150px;
	outline:none;
	font-weight: 500;
}
.panel-window button:hover{
	background-color: var(--mielMedias-color-lighter);
}
.panel-window button:not(:last-of-type){
	margin-right:20px;
}
.miel-medias{
	height:20px;
	width:20px;
	background-color: #00FFEE;
}

.medias-loader{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
}
.medias-loader .container{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.medias-window .hidden-input{
	display:none;
}

.medias-window .panel .item{
	display:flex;
	position:relative;
	cursor:pointer;
	padding:20px 0;
	margin:20px 0;
	background-color: rgb(55,55,55);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	transition:all 0.35s;
}
.medias-window .panel .item input + .selected{
	position : absolute;
	right : 20px;
	top : 20px;
	height: 10px;
	width: 10px;
	border-radius: 100px;
	background-color: var(--mielMedias-color);
	opacity: 0;
	transition: all 0.15s;
}
.medias-window .panel .item input:checked + .selected{
	opacity: 1;
}
.medias-window .panel .item:first-child{
	margin-top:0;
}
.medias-window .panel .item:last-child{
	margin-bottom:0;
}
.medias-window .panel .item .content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	max-height:100px;
	overflow:auto;
	flex:1;
}
.medias-window .panel .item .content > div:last-of-type:not(.infos){
	overflow:auto;
	flex:1;
}
.medias-window .panel .item .content > div:last-of-type:not(.infos).title-only{
	flex:initial;
}
.medias-window .panel .item .title{
	color:var(--mielMedias-color);
	font-size:105%;
	font-weight:400;
	margin: 10px 0 10px 0;
}
.medias-window .panel .item .description{
	max-height:70px;
	overflow:hidden;
}
.medias-window .panel .item .content > *{
	flex-shrink: 0;
}
.medias-window .panel .item:hover{
	background-color: rgb(25,25,25);
}
.medias-window .panel .item .cover-contener{
	margin:0 20px;
	height:100px;
}
.medias-window .panel .item .cover-contener>*{
	height:100px;
	box-sizing: border-box;
}
.medias-window .panel .item .cover-contener>svg path,
.medias-window .panel .item .cover-contener>svg polygon{
	fill:white;
}
.medias-window .panel .item .file{
	display:none;
}
.medias-window .panel .item .mime{
	margin-left:20px;
	color:var(--mielMedias-color);
	font-weight: 300;
}
.medias-window .panel .item .position{
	display:flex;
	flex-direction:column;
	justify-content: center;
	color:var(--mielMedias-color);
	font-size:250%;
	font-weight:400;
	text-align: center;
	width:100px;
}
.medias-window .panel .item .position > *{
	display:block;
}

@keyframes media-window_fade-in {
	from{
		opacity:0;
		top:0;
	}
	to{
		opacity: 1;
		top:10%;
	}
}