:root{
	--contact-color:#FF9900;
}
#modules-BeeColor-contact-panel ~ .main-panel > .panel-window > .body > div:not(.file-explorer) > .buttons .button:last-child::after{
	content:'';
	width:80%;
	background-color: black;
	height:3px;
	position:absolute;
	display:block;
	top:47.675%;
	left:10%;
	transform-origin: center center;
	transform: rotate(-45deg);
	transition:all 0.35s
}
#modules-BeeColor-contact-panel ~ .main-panel > .panel-window > .body > div:not(.file-explorer) > .buttons .button:last-child:hover::after{
	background-color: white;
}
#modules-BeeColor-contact-panel ~ .main-panel .body table th:nth-child(3),
#modules-BeeColor-contact-panel ~ .main-panel .body table td:nth-child(3){
	flex:3;
	white-space: nowrap;
}

.contact-window .body{
	display:flex;
	flex-direction:column;
}

.contact-window .body > .content{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.contact-window .body > .content > *{
	flex-shrink: 0;
	margin:10px 0;
}
.contact-window .body > .content > div > span:first-child{
	margin-right:20px;
	color:var(--contact-color);
	font-weight:400;
}
.contact-window .body > .content pre{
	flex:1;
	text-align: left;
	background-color: white;
	padding:20px;
	color:black;
	font-family: inherit;
	font-weight:400;
	overflow:auto;
}
.contact-remove{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(55,55,55);
	box-shadow : 5px 5px 20px rgba(0,0,0,0.4);
	border-radius:10px;
	padding:20px;
}
.contact-remove > p{
	margin:0;
	text-align:center;
}
.contact-remove > .buttons{
	display:flex!important;
	justify-content: space-around;
	margin-top:20px;
}
.contact-remove > .buttons > button{
	box-shadow : 5px 5px 10px rgba(0,0,0,0.4);
}

.contact-loader{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
}
.contact-loader .container{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.contact-window{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: rgb(35,35,35);
	animation-name: contact-window_fade-in;
	animation-duration: 0.35s;
}

@keyframes contact-window_fade-in {
	from{
		opacity:0;
		top:-40px;
	}
	to{
		opacity: 1;
		top:0;
	}
}
@media (max-width: 800px){
	.buttons .button .title{
		top:123%;
		left:25%;
	}
	.buttons .button:hover .title{
		left:0;
	}
	.buttons .button:last-child .title{
		left:-275%;
	}
	.buttons .button:last-child:hover .title{
		left:-300%;
	}
}
@media (max-width: 500px){
	.buttons .button .title{
		font-size:40%;
	}
}